<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a course</title>
</head>
<body>
    <h1>Delete a course</h1>

    <form action="/delete_course" method="post">
        <label for="course_name">Course name to delete:</label>
        <input type="text" id="course_name" name="course_name" required>

        <input type="submit" value="DELETE">
    </form>
<a href="/">GO BACK</a>
</body>
</html>
