<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Management</title>
</head>
<body>
    <h1>Attendance Management</h1>

    <ul>
        <li><a href="/add_student">Add a student</a></li>
        <li><a href="/modify_student">Modify a student's name</a></li>
        <li><a href="/delete_student">Delete a student</a></li>
        <li><a href="/view_student_attendance">View a student's attendances</a></li>
        <li><a href="/check_pass_status">Check pass status</a></li>
        <li><a href="/add_course">Add a course</a></li>
        <li><a href="/modify_course">Modify a course's name</a></li>
        <li><a href="/delete_course">Delete a course</a></li>
        <li><a href="/mark_attendance">Mark attendances</a></li>
        <li><a href="/modify_attendance">Modify attendances</a></li>
        <li><a href="/delete_attendance">Delete attendances</a></li>
    </ul>
</body>
</html>
